.countryList {
  width: 100%;
  height: 65vh;
  list-style: none;

  overflow-y: scroll;
  overflow-x: hidden;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 1.6rem;

  /* Firefox */
  scrollbar-width: none;

  /* IE / Edge (old) */
  -ms-overflow-style: none;
}

/* Chrome, Edge, Safari */
.countryList::-webkit-scrollbar {
  display: none;
}
